node_modules
.DS_Store
mission-control.sqlite
dist-plugins
plugins/welcome-message
plugins/commands
plugins/shop-openings
plugins/send-message
plugins/knowledge-base
plugins/knowledge-base
plugins/knowledge-base
plugins/market-place
plugins/officine-innesto
