.page-plugins {

  .ui-table-filters {
    margin-top: 15px;
  }

  .right-column {
    padding-left: 15px;
  }

  .plugins {
    margin-top: 25px;
    margin-right: 20px;

    .plugin {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-content: stretch;
      align-items: stretch;
      border-bottom: 1px solid #dddddd;
      margin-bottom: 15px;
      min-height: 120px;

      .preview {
        flex: 0 0 150px;

      }

      .rs-tag-group {
        display: inline-block;
        margin-left: 15px;
      }

      .ui-small-tag {
        .label {
          text-transform: lowercase;
          color: #cccccc;
        }
      }

      .meta {
        flex: 1 0;
        padding: 0px 8px;

        h5 {
          color: #106193;
        }
        .rs-btn-toolbar {
          margin-top: 10px;
        }
        .description {
          min-height: 50px;
        }

        .info {
          margin-top: 6px;

          .icons {
            display: inline-block;
            margin-left: 15px;
          }

          .github {
            margin-left: 5px;
            color: #888888;
            &:hover {
              color: #1675e0;
            }
          }

          .author {
            font-size: 12px;
            color: #888888;
            margin-left: 5px;
          }
        }
      }

      .buttons {
        flex: 0 0 auto;
      }
    }

  }

}